* {
    padding: 0;
    margin: 0;
    text-align: center;
}

.header {
    width: 100%;
    height: 100px;
}

.header .logo img {
    width: 300px;
    height: 85px;
    padding-left: 100px;
    padding-top: 8px;
}

.header .logo {
    float: left;
}

.header .nav {
    float: right;
}

.header .nav ul {
    padding-right: 100px;
}

.header .nav ul li {
    margin-top: 25px;
    float: left;
    list-style: none;
    width: 80px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-weight: bolder;
    color: #7D7D7D;
    cursor: pointer;
}

.header .nav ul li:hover {
    background-color: aliceblue;
}

.main .top {
    width: 100%;
    height: 600px;
}

.main .top img {
    width: 100%;
    height: 600px;
}

.main .top-layer {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}

.main .top-layer-top {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 400px;
    right: 50%;
    margin-top: -150px;
    margin-right: -250px;
    z-index: 2;
}

.main .top-layer-top .word {
    padding-top: 100px;
    color: #fff;
    font-size: 45px;
    font-weight: bolder;
    font-family: "微软雅黑";
}

.main .top-layer-top button {
    width: 200px;
    height: 60px;
    margin-top: 50px;
    color: #fff;
    background-color: #F5704F;
    font-size: 14px;
    font-weight: bolder;
    font-family: "微软雅黑";
    border-radius: 8px;
    clear: both;
    cursor: pointer;
}

.main .middle {
    width: 1000px;
    margin: 0 auto;
}

.main .middle .m-top .common {
    float: left;
    width: 33.3%;
    padding-top: 50px;
}

.main .middle .m-top .common img {
    width: 100px;
    height: 100px;
}

.main .middle .m-top .common .comm {
    font-size: 20px;
    color: #7D7C7F;
    font-weight: bolder;
    padding-top: 20px;
}

.clear {
    clear: both;
}

.main .middle .m-middle {
    font-size: 22px;
    color: #E19796;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
}

.main .middle .m-bottom .m-com {
    float: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.main .middle .m-bottom .m-com img {
    width: 310px;
    height: 260px;
}

.main .middle .m-bottom .m-com .des1 {
    color: #7D7D7F;
    padding-top: 20px;
}

.main .middle .m-bottom .m-com .des2 {
    color: #BDBDBC;
    padding-top: 10px;
}

.main .bottom {
    background-color: #F9F9F9;
}

.main .bottom .content {
    width: 1000px;
    margin: 0 auto;
}

.main .bottom .content .title {
    font-size: 20px;
    font-weight: bold;
    color: #7D7C7F;
    font-family: "微软雅黑";
    padding-top: 50px;
    padding-bottom: 50px;
}

.main .bottom .content .pic-content dl {
    float: left;
    width: 470px;
    padding: 12px 10px;
}

.main .bottom .content .pic-content dl img {
    width: 470px;
    height: 460px;
}

.main .bottom .content .pic-content dl .word {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #7D7C7F;
    text-align: left;
    padding-bottom: 50px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(41, 44, 53);
    color: rgb(255, 255, 255);
    line-height: 100px;
    font-family: 微软雅黑;
    font-size: 15px;
}